:root {
  --basic-gray: #EEEEEE;
  --basic-red: #FB565A;
  --basic-black: #000000;
  --basic-dark: #283136;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-extra-dark: #888888;
  --basic-gray-lighten: #666666;
  --basic-extra-gray: #444444;
  --basic-background-gray: #FFFFFF;
  --basket-gray:#A6A6A6;
  --basic-white: #ffffff;

  --special: #FB565A;

}

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  }

.page a {
  text-decoration: none;
}

.main-p {
width: 400px;
font-size: 16px;
line-height: 24px;
font-weight: 400;
height: 49px;
}

img {
  max-width: 100%
  height:auto;
}

.center h1 {
  width: 538px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;

}
.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: transparent;
}

.main-navigation-wrapper {
  background-color: var(--basic-gray);
}

.main-header {
  background-color: var(--basic-gray);
}

.site-navigation {
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-red);
}


.features-list {
  list-style: none;
}

.features-item {
  text-align: center;
}

.features-item h3 {
  font-size: 24px;
  line-height: 30px;
}

.index-columns {
  color: var(--basic-black);
   background-color: var(--basic-white);
   background-image: url("img/nerds-illustration.png");
   background-position: center, 0 0;
   background-repeat: no-repeat, repeat;

 }

 .index-columns h2 {
   font-size: 45px;
   line-height: 64px;
   font-weight: 700;
   list-style: none;
   margin: 0;
 }

 .index-columns p {
   font-size: 16px;
   line-height: 18px;
   font-weight: 400;
   list-style: none;
 }

.index-columns h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  width: 651px;
}

.info-item {
  border-color: #000000;
  border-left: 1px solid #FB565A;
  padding-left: 10px;
  list-style: none;
  margin-bottom: 5px;
  border-bottom: 1px;
}

.skills {
  text-align: none;
}

.skills li {
  list-style: none;
}

.info h4 {
font-size: 16px;
line-height: 24px;
weight: 700;
text-transform: uppercase;
}

.button-1 {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border-radius: 3px;
  padding: 5px;
}

.button-2 {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-green);
  border-radius: 3px;
  padding: 5px;
}

.button-3 {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-yellow);
  border-radius: 3px;
  padding: 5px;
}

.main-button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border-radius: 3px;
  padding: 5px;

}
.footer-button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border-radius: 3px;
  padding: 5px;
}


.contacts-phone {
  color: inherit;
}

.footer-social {
  text-align: left;
}

.footer-social ul {
  list-style: none;
}

.footer-social h3 {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.footer-p {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.social-button {
  color: inherit;

}


.social-button:hover,
.social-button:focus {
  background-color: var(--special);
}

.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

.login-form input[type="name"],
.login-form input[type="email"],
.login-form input[type="text"]

{
  font: inherit;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 2px solid var(--basic-gray);
  font-weight: 400;
}

.l{
  text-align: uppercase;
}

.login-form input:focus {
  border-color: var(--special);
}
